@font-face {
    font-family: SF-Regular;
    src: url(./fonts/SF-UI-Display-Regular.otf);
}

@font-face {
    font-family: SF-Bold;
    src: url(./fonts/SF-UI-Display-Bold.otf);
}

:root {
    --v_bar_width: 3.75em;
    --icon_width: 50%;
}

body {
    /*Previous: #343434*/
    background-color: #0C0A0D;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/*Github color: #222734
  Marron marronero: #342e22
  Morao: #292634
  Electric blue: #00003d
  Celeste: #96b3ff
  lightgray: #343434
  lightergray: #515151
  Añadir transparencia: añadir dos cifras al final del cod rgb
  */

/*Vertical menu*/
.vertical-menu {
    transition: 1s;
    /*Previous: #282828*/
    background-color: #0F0D10;
    position: fixed;
    width: var(--v_bar_width);
    bottom: 0;
    top: 0;
}

/*Logo*/
.vertical-menu-logo {
    width: 80%;
    margin-top: 0.625em;
    margin-bottom: 1.875em;
    margin-left: 50%;
    transform: translate(-50%);
}

/*Middle navbar*/
.vertical-menu-general {
    position: absolute;
    bottom: 50%;
}

/*Bottom navbar*/
.vertical-menu-content {
    position: absolute;
    bottom: 0.625em;
}

/*Buttons*/
.menu-button {
    transition: 0.16s;
    bottom: 0em;
    width: var(--icon_width);
    margin-top: 0.625em;
    margin-left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.menu-button:hover {
    transition: 0.16s;
    filter: invert(51%) sepia(15%) saturate(1293%) hue-rotate(292deg) brightness(92%) contrast(82%);
}

/*Flyout menu*/
.flyout-menu {
    background-color: #212121;
    border-radius: 0.688em;
    padding: 0.625em;
    color: white;
    text-decoration: none;
    font-family: SF-Regular;

    position: fixed;
    margin-left: 0.625em;
    margin-top: 0.625em;
}

/*Header*/

.header-div {
    display: inline-block;
    margin-top: 15%;
    margin-left: 12%;
    font-size: 0;
    clear: both;
}
.header-text {
    transition: 0.26s;
    font-family: SF-Bold;
    color: white;
    cursor: default;
    font-size: xx-large;
}

.header-text:hover {
    transition: 0.16s;
    color: #b86a80;
    transform: scale(1.2);
}


.header-text1 {
    transition: 0.26s !important;
    font-family: SF-Bold !important;
    color: white !important;
    cursor: default !important;
    font-size: xx-large !important;
}

.header-text1:hover {
    transition: 0.16s !important;
    color: #b86a80 !important;
    transform: scale(1.2) !important;
}
span {
    margin-left: auto;
}

/*Desciption*/
.desc-div {
    display: flex;
    margin-left: 12%;
}

.desc-text {
    transition: 0.26s;
    font-family: SF-Bold;
    color: white;
    cursor: default;
}

.desc-link {
    display: flex;
    transition: 0.16s;
    text-decoration: none;
    color: white;
}

.desc-link:hover {
    transition: 0.16s;
    color: #b86a80;
}

.circle-arrow-icon {
    padding-left: 0.5em;
    align-self: center;
}

/*Footer*/
footer {
    position: absolute;
    bottom: 0em;
    left: 3.75em;
    right: 0em;
    background-color: #050505;
    height: 3.3em;
}

.table-container {
    display: flex;
    justify-content: center;
    text-align: center;

    padding-top: 0.5em;

    font-family: SF-Regular;
    font-size: 10px;
    color: gray;
}

.footer-link {
    text-decoration: none;
    color: grey;
}

/*Smaller Screens*/

@media (max-width: 400px) {
    .vertical-menu {
        transition: 1s;
        min-width: 20%;
    }

    .header-div {
        margin-left: 25%;
    }

    .desc-div {
        margin-left: 25%;
    }
    
    footer {
        left: 20%;
    }
}

@media (max-width: 600px) {
    .vertical-menu {
        transition: 1s;
        min-width: 15%;
    }

    .header-div {
        margin-left: 20%;
    }

    .desc-div {
        margin-left: 20%;
    }

    footer {
        left: 15%;
    }
}