@font-face {
    font-family: SF-Regular;
    src: url(./fonts/SF-UI-Display-Regular.otf);
}

@font-face {
    font-family: SF-Bold;
    src: url(./fonts/SF-UI-Display-Bold.otf);
}

:root {
    --v_bar_width: 4%;
    --icon_width: 45%;
}

body {
    /*Previous: #343434*/
    background-color: #0C0A0D;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/*Github color: #222734
  Marron marronero: #342e22
  Morao: #292634
  Electric blue: #00003d
  Celeste: #96b3ff
  lightgray: #343434
  lightergray: #515151
  Añadir transparencia: añadir dos cifras al final del cod rgb
  */

/*Vertical menu*/
.vertical-menu {
    transition: 1s;
    /*Previous: #282828*/
    background-color: #0F0D10;
    position: fixed;
    width: var(--v_bar_width);
    min-width: 60px;
    bottom: 0;
    top: 0;
}

/*Logo*/
.vertical-menu-logo {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translate(-50%);
}

/*Middle navbar*/
.vertical-menu-general {
    position: absolute;
    bottom: 50%;
}

/*Bottom navbar*/
.vertical-menu-content {
    position: absolute;
    bottom: 10px;
}

/*Buttons*/
.menu-button {
    transition: 0.16s;
    bottom: 0px;
    width: var(--icon_width);
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.menu-button:hover {
    transition: 0.16s;
    filter: invert(51%) sepia(15%) saturate(1293%) hue-rotate(292deg) brightness(92%) contrast(82%);
}

/*Flyout menu*/
.flyout-menu {
    background-color: #212121;
    border-radius: 11px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: SF-Regular;

    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
}

/*Header*/
.header-div {
    display: flex;
    margin-top: 15%;
    margin-left: 12%;
    font-size: 0;
}

.hello {
}

.header-text {
    transition: 0.26s;
    font-family: SF-Bold;
    color: white;
    cursor: default;
    font-size: xx-large;
}

.header-text:hover {
    transition: 0.16s;
    color: #b86a80;
    transform: scale(1.2);
}

/*Desciption*/
.desc-div {
    display: flex;
    margin-left: 12%;
}

.desc-text {
    transition: 0.26s;
    font-family: SF-Bold;
    color: white;
    cursor: default;
}

.desc-link {
    transition: 0.16s;
    text-decoration: none;
    color: white;
}

.desc-link:hover {
    transition: 0.16s;
    color: #b86a80;
}

/*Smaller Screens*/

@media (max-width: 300px) {
    .vertical-menu {
        min-width: 20%;
    }

    .header-div {
        margin-left: 25%;
    }
}

@media (max-width: 600px) {
    .vertical-menu {
        transition: 1s;
        min-width: 15%;
    }

    .header-div {
        margin-left: 20%;
    }
}